:root {
  --fz: 13px;
  --fw-500: 500;
  --fw-700: 700;
  --fontStyle: 'Manrope', sans-serif;
  --veryDarkGrayishBlue: hsl(217, 19%, 35%);
  --desaturatedDarkBlue: hsl(214, 17%, 51%);
  --grayishBlue: hsl(212, 23%, 69%);
  --lightGrayishBlue: hsl(210, 46%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-family: var(--fontStyle);
  font-size: var(--fz);
  font-weight: var(--fw-500);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color:var(--lightGrayishBlue);
}

main {
  width: 375px;
  margin: auto 0;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.card {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
}

.header-img {
  background-image: url(images/drawers.jpg);
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-size: cover;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  width: 100%;
  height: 230px;
  display: block;
  flex-grow: 1;
}

.card-wrap {
  flex-grow: 1;
  flex-shrink: 1;

  display: flex;
  flex-direction: column;
}

.description {
  flex-grow: 1;
  /* flex-basis: 45%; */
  margin: 40px 35px 25px;
}

.description h1 {
font-size: 16px;
padding-right: 10px;
line-height: 1.5;
font-weight: var(--fw-700);
color: var(--veryDarkGrayishBlue);
}

.description p {
  margin-top: 15px;
  padding-right: 18px;
  line-height: 1.8;
  color: var(--desaturatedDarkBlue);
}

.author {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 10px 40px 20px;
  position: relative;
}

.author .avatar {
  
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.data {
 margin-left: 15px;
 align-self: center;
 line-height: 1.5;
}

.data .name {
font-weight: var(--fw-700);
color: var(--veryDarkGrayishBlue);
}

.data .date {
  color: var(--grayishBlue);
}


.share-btn {
  background-color: var(--lightGrayishBlue);
  color: var(--desaturatedDarkBlue);
  padding: 10px 12px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.share-btn:hover {
  background-color: var(--desaturatedDarkBlue);
  color: white;
}

.share-wrap {
  display: none;
}

.share {
  background-color: var(--veryDarkGrayishBlue);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 75px;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.share p {
  margin: 0 10px 0 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--grayishBlue);
}

.share .social {
  display: flex;
  justify-content: space-between;
}

.social li {
  padding: 0 8px;
}

.social li:hover {
  transform: scale(1.2);
}

 .social li:nth-child(2) {
  padding-top: 2px;
}


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}